template(name='admin')
  article(data-role='admin')
    h1 Réglages
    h2 Utilisateurs
    button.inspiration(type='button', data-role='create-user')
      span Créer un nouvel utilisateur
    main
      ul
        each users
          +user

template(name='user')
  li(class=role)
    p(class=title) #{profile.civility} #{profile.forname} #{profile.name}
